<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.miky.phonegap"
      version="0.1.0">
    <name>PhoneInfoPlugin</name>
    <description>Permite obtener una identificación única del dispositivo</description>
    <license>CC</license>
    <keywords>phonegap, id, imei, telephone, number, imsi</keywords>


    <js-module src="www/phoneInfoPlugin.js"  name="phoneinfoplugin">
        <clobbers target="window.phone" />
    </js-module>
    <js-module src="www/PhoneInfo.js"  name="phoneinfoplugin">
        <clobbers target="PhoneInfo" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="phoneinfoplugin">
                <param name="android-package" 
                       value="com.miguelalonso.phonegap.PhoneInfoPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
           <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <source-file src="src/android/com/miky/phonegap/PhoneInfoPlugin.java" 
                     target-dir="src/com/miky/phonegap" />      
     </platform>          
</plugin>
